.inactive {
    display: none;
}

.icon-database {
    color: aliceblue !important;
}

.toolbar-header{
    padding: 8px 0 4px 0;
}

#mode {
    margin-left: 20px;
    width: 150px;
}

/*----------------------------------------------------*/
/* Panes                                              */
/*----------------------------------------------------*/

.main-pane {
    padding: 10px 50px;
}

.pane-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----------------------------------------------------*/
/* Forms                                              */
/*----------------------------------------------------*/

.form-grid {
    display: grid;
    align-items: end;
    justify-content: space-between;
    grid-template-columns: 70% 27%;
    margin-bottom: 10px;
}

.form-info {
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #3f3f3f;
}

.form-info-extended {
    margin-top: 16px;
    height: 120px;
}

.form-sm {
    background-color: #2f2f2f;
    min-width: 500px;
    max-width: fit-content;
    
    color: white;
    padding: 0 50px 50px;
    border-radius: 20px;
}

/*----------------------------------------------------*/
/* Modifiers                                             */
/*----------------------------------------------------*/

.add-select {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.quit-select {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    color: #fba22d;
}

.error-message {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: #FB332D; 
}

.found {
    border: 2px solid #178c17;
}

.not-found{
    border: 2px solid #FB332D;
}

.btn-send {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.group-info {
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
}

.table-info {
    margin-top: 20px;
}

.bold{
    font-weight: bold;
}

/* Business Reserve */
